.btn-blue{
	padding: 15px;
	width: 160px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
	border: 1px solid #00a8ff;
	transition: 0.2s;
	background-color: #00a8ff;
	margin: auto;
	margin-top: 70px;
}

.btn-blue:hover{
	background-color: #192a56;
	border: 1px solid #fff;
}