.welcome{
	width: 100%;
	background-color: yellow;
	height: 200px;
	padding-top: 50px;
	text-align: center;
	color: #DC143C;
	background-image: image-url('fallout.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}